.top-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  line-height: 1em;
  margin-bottom: 2em;
}

.top-info h2 {
  text-align: center;
  margin-bottom: 4px;
}

.top-info hr {
  width: 70%;
  border-top: 2px solid black;
  margin: 0; /* Reduce spacing above and below */
}

.title-and-epost {
  width: 70%;
}

.position-relative {
  position: relative; /* Enable positioning of the button within the same row */
}

.btn.position-absolute {
  top: 60%;
  transform: translateY(-50%); /* Vertically align button with the <h2> */
}
/* Responsive design */
@media (max-width: 768px) {
  h2 {
    font-size: large;
  }
  button {
    font-size: medium;
  }
  h5 {
    font-size: small;
  }
}
/* Standard button style */
button {
  background-color: hsl(180, 100%, 15%);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12;
}
