.goalInstanceComponent {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: inherit; /* Ensure it inherits background */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.goalInstanceComponent > :hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
.hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goalInstanceComponent > * {
  padding: 10px;
  width: 100%;
}

.goalsBox > :last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.goalsBox > :first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.goalTitle {
  display: flex;
  justify-content: flex-start;
  font-size: x-large;
}

.difficulty {
  display: flex;
  justify-content: flex-end;
}

.goals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goalsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  span {
    font-size: small;
  }
  .goalTitle {
    font-size: medium;
  }
}

.addGoalContainer {
  display: flex;
  width: 100%;
}

.add-goal-form {
  display: inherit;
  width: inherit;
}
.add-goal-form > * {
  flex-grow: 3;
  background-color: #9bc4bc;
  color: #1d1d1d;
  border: 1px solid black;
}

.add-goal-form > button:hover {
  background: #94bbb3;
}
.add-goal-form > button {
  border-radius: 0;
}
