/* Reset list styles */
.menu-items {
  display: flex;
  gap: 20px;
}

/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0056b3;
  padding: 10px 15vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  .navbar {
    padding: 10px;
  }
}

/* Navbar buttons */
.navbar-btn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.drop-btn {
  width: 300px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-btn:hover {
  background-color: #004085;
  border-radius: 5px;
  color: white;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown .drop-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0069d9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
}

.dropdown .drop-content a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

.dropdown .drop-content a:hover {
  background-color: #004085;
}

.dropdown:hover .drop-content {
  display: block;
}

/* Logout button */
.logout-button {
  background-color: #dc3545;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
  background-color: #bd2130;
}
