.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  width: 65vw;
  height: 90vh;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0px 0px 5px gray;
}

.addMilestoneDiv {
  display: flex;
  flex-direction: column;
}
.addMilestoneInput {
  background-color: var(--first-item-in-list);
  border-color: var(--first-item-in-list);
  width: 15em;
  color: black;
  border: 15%;
}

.quiz-fail-msg {
  color: var(--btn-red);
  font-size: 20px;
}
.quiz-passed-msg {
  color: green;
  font-size: 20px;
}
.topInfo {
  display: flex;
  justify-content: right;
}
.quizBtn {
  inherits: none;
  margin: 0 5px;
}
.quizBottomDiv {
  display: flex;
  width: 33.2vw;
}
.quizDir {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}
.quizBtnDir {
  background: none;
  font-size: 10px;
}
.quizDir {
  display: flex;
  justify-content: right;
  margin-left: 20px;
}

.closeModalBtn {
  border-radius: 10px;
  background-color: var(--btn-red);
  padding: 0 15px 0 15px;
  font-size: larger;
}

.desc {
  font-size: 1em;
}
.quizSubmitBtn {
  margin-left: 20px;
}

.quiz-content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 50%;
}
.quiz-content > h2 {
  justify-content: left;
}
.takeQuizBtn {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12;
}

.takeQuizBtn > :hover {
  color: var(--hover-color-button);
}

.a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
