.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  width: 70vw;
  height: 90vh;
  max-height: 80%;
  overflow-y: auto;
}

.addMilestoneDiv {
  display: flex;
  flex-direction: row;
}
.addMilestoneInputsDiv {
  display: flex;
  flex-direction: column;
}

.addMilestoneInput {
  background-color: var(--first-item-in-list);
  border-color: var(--first-item-in-list);
  width: 15em;
  color: black;
  border: 15%;
}

.quiz-fail-msg {
  color: var(--btn-red);
  font-size: 20px;
}
.quiz-passed-msg {
  color: green;
  font-size: 20px;
}
.topInfo {
  display: flex;
  justify-content: space-between;
}
.quizBtn {
  margin: 0 5px;
}
.quizBottomDiv {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.quizDir {
  display: flex;
}
.quizBtnDir {
  background: none;
  font-size: 25px;
}
.quizSubmitBtn {
  margin: 5px 0 5px 0;
  padding: 0px 10px 0 10px;
  border-radius: 10px;
}
.closeModalBtn {
  border-radius: 10px;
  background-color: var(--btn-red);
  padding: 0 15px 0 15px;
  font-size: larger;
}

.desc {
  font-size: 1em;
}
