:root {
  --navbar-background: hsl(213, 33%, 22%); /* Deep muted blue */
  --content-background: hsl(201, 17%, 81%); /* Very light blue-gray */
  --edit-btn: hsl(210, 23%, 41%); /* Muted slate blue */
  --first-item-in-list: hsl(200, 22%, 70%); /* Soft desaturated blue-gray */
  --second-item-in-list: hsl(210, 23%, 41%); /* Muted slate blue */
  --skill-background: hsl(213, 33%, 22%); /* Deep muted blue */
  --dropdown-button: hsl(200, 22%, 70%); /* Soft desaturated blue-gray */
  --button-background: hsl(210, 23%, 41%); /* Muted slate blue */
  --content-background-shadow: hsl(210, 24%, 28%);
  --first-item-in-list-hover: hsl(200, 22%, 60%);
  --second-item-in-list-hover: hsl(210, 23%, 35%);
  --shadow-box: hsl(210, 24%, 15%);
  --dropdown-button-hover: hsl(210, 23%, 33%);
  --root-background: #3d618c;
  --font-white: hsl(0, 0%, 95%);
  --btn-red: hsl(354, 69%, 50%);
  --btn-red-hover: hsl(354, 70%, 44%);

}
